@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    font-size: 2rem;
    font-weight: 700;
    color: #0a549c;
    margin-top: 5rem;
}

.container{
  width: 99%;
  margin:0 auto;
}

.active{
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  color:#000;
  font-weight: bold;
}


::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffffff; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #fefefe; /* Background of the scroll thumb */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Color when hovering over the scroll thumb */
}